In [1]:
import os
from collections import defaultdict
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import scipy.sparse as sp
from tqdm import tqdm

### path data のロード

In [2]:
saved_path = './attention_path/'
# file_name = 'top_100_users_path.pickle'
file_name = 'worst_100_users.pickle'

with open (saved_path + file_name, 'rb') as f:
    path = pickle.load(f)

In [3]:
users = path.keys()

### DataFrame に変換

In [4]:
user_list = []
total_att_score_list = []
relation_list = []
item_id_list = [] 
entity_id_list = [] 
rec_item_id_list = [] 
user_to_item_att_list = []
item_to_entity_att_list = []
entity_to_rec_item_att_list = []

for user in users:
    
    rec_items = path[user].keys()
    
    for rec_item in rec_items:
        
        data = path[user][rec_item]
        
        user_list.append(user)
        total_att_score_list.append(data['total_att_score'])
        relation_list.append(data['relation'])
        item_id_list.append(data['item_id'])
        entity_id_list.append(data['entity_id'])
        rec_item_id_list.append(data['rec_item_id'])
        user_to_item_att_list.append(data['user_to_item'])
        item_to_entity_att_list.append(data['item_to_entity'])
        entity_to_rec_item_att_list.append(data['entity_to_rec_item'])

In [5]:
df = pd.DataFrame(
    data = {
        'user_id' : user_list,
        'total_att_score'    : total_att_score_list,
        'relation'  : relation_list,
        'item_id'  : item_id_list, 
        'entity_id'  : entity_id_list, 
        'rec_item_id' : rec_item_id_list,
        'user_to_item' : user_to_item_att_list,
        'item_to_entity'  : item_to_entity_att_list,
        'entity_to_rec_item' : entity_to_rec_item_att_list
    }
)

In [6]:
df.head()

,user_id,total_att_score,relation,item_id,entity_id,rec_item_id,user_to_item,item_to_entity,entity_to_rec_item
0,23398,0.103790,4,33955,72945,7437,0.046258,0.028398,0.029134
1,23398,0.123016,0,46270,48123,26916,0.031471,0.091524,0.000021
2,23398,0.167075,1,8105,58933,8085,0.063933,0.017670,0.085473
3,23398,0.144308,1,33955,80247,10253,0.046258,0.018194,0.079857
4,23398,0.128185,4,8105,49245,8061,0.063933,0.037860,0.026392

In [7]:
def save_variable_as_pickle(save_path, file_name, variable):
    
    if not os.path.exists(save_path):
        os.makedirs(saved_path)
    
    with open(save_path + file_name + '.pickle', mode='wb') as f:
        pickle.dump(variable, f)

In [8]:
def ensure_path(path):
    if not os.path.exists(path):
        os.makedirs(path)

In [9]:
file_name = 'worst_100_users.csv'

ensure_path(saved_path)

df.to_csv(saved_path + file_name)